apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-catalog-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: image-catalog
  template:
    metadata:
      labels:
        app: image-catalog
    spec:
      containers:
#        - image: prporso/image-catalog:test #to be changed
#        - image: turkiznazaba/appointments #to be changed
        - image: turkiznazaba/appointments:2023-12-01-08-23-31 #to be changed

          name: appointments
          env:
            - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
              value: jdbc:postgresql://ella.db.elephantsql.com:5432/hdalyqbh
            - name: KUMULUZEE_DATASOURCES0_USERNAME
              value: hdalyqbh
            - name: KUMULUZEE_DATASOURCES0_PASSWORD
              value: EfjnbNxlNDRLpxrUMApVIXn1L9meZ2Tb
#              valueFrom:
#                secretKeyRef:
#                  name: dbpassword
#                  key: dbpassword
          ports:
            - containerPort: 8080
              name: server
#          livenessProbe:
#            httpGet:
#              path: /health/live
#              port: server
#            initialDelaySeconds: 20
#            periodSeconds: 3
#          readinessProbe:
#            httpGet:
#              path: /health/ready
#              port: server
#            initialDelaySeconds: 20
#            periodSeconds: 3

---

apiVersion: v1
kind: Service
metadata:
  name: appointments
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      protocol: TCP
      targetPort: server
  selector:
    app: appointments
