#        - image: turkiznazaba/appointments:2023-12-01-09-21-36 #to be changed

apiVersion: apps/v1
kind: Deployment
metadata:
  name: appointments-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: image-catalog
  template:
    metadata:
      labels:
        app: image-catalog
    spec:
      containers:
        - image: turkiznazaba/appointments:2023-12-01-09-21-36 #to be changed
          name: image-catalog
          env:
            - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
              value: jdbc:postgresql://ella.db.elephantsql.com:5432/hdalyqbh
            - name: KUMULUZEE_DATASOURCES0_USERNAME
              value: hdalyqbh
            - name: KUMULUZEE_DATASOURCES0_PASSWORD
              value: EfjnbNxlNDRLpxrUMApVIXn1L9meZ2Tb
#            - name: KUMULUZEE_DATASOURCES0_PASSWORD #TODO check if it works
#              valueFrom:
#                secretKeyRef:
#                  name: dbpassword
#                  key: dbpassword
          ports:
            - containerPort: 8080
              name: server

---

apiVersion: v1
kind: Service
metadata:
  name: image-catalog
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      protocol: TCP
      targetPort: server
  selector:
    app: image-catalog
